.swiper-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(0,0,0);
}
.gallery-num {
  position: absolute;
  top: 15px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: pr(28);
}
.gallery-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: pr(1000);
  transform: translate(-50%, -50%);
  overflow: auto;
}
.gallery-img {
  width: 100%;
}